{% extends 'first_app/first_app_base.html' %}
{% block body_block %}
  <div class="jumbotron">
    <h1>welcone to school details</h1>
    <p>Nmae:{{ school_detail.name }}</p>
    <p>Principal:{{ school_detail.principal }}</p>
    <p>Location:{{ school_detail.location}}</p>

  </div>
  {% for x in school_detail.students.all %}
  <p>{{ x.name }} who is {{ x.age }} years</p>

  
  {% endfor %}
  <div class="cointainer">
    <p><a class="btn btn-warning" href="{% url 'first_app:update' pk=school_detail.pk %}">Update</a></p>

  </div>
{% endblock %}
